#game{
    background-color: green;
    
}

.cardImages{
    width: 100%;
}

.dealerCardsDiv{
    background-color:yellow;
    width:100%;
    height: 20%;
    
}

.playerCardsDiv{
    background-color: blue;
    width: 100%;
    height: 30%;
    
}

#playerCardsTable{
    background-color: grey;
    width: 100%;
    height: 100%;
    
    
    
}

#playerCardsTable tr{
    
}

#playerCardsTable td{
    white-space: nowrap;

    
}

.cardImagesSinglePlayer{
    height: 100px;
    
}

.dealerCards{
    height: 100px;
}

.playerCards{
    display:block;
    height: 100px;
    overflow: hidden;
    
}

.currentHand{
    background-color:red;
    
}

#singlePlayerHeaderTable td{
    border: 1px solid black;
    width: 15%;
    
    
}
